* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*CONTAINER*/
.container {
  background-color: rgb(6, 19, 48);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    '. . . '
    '. main main main main .'
    '. main  main main main .'
    '. . . .';
  align-content: center;
  justify-content: center;
}

.main-section {
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  padding: 0 30px;
}

/*TEXT*/
.text-description {
  width: 100%;
  grid-area: 1/1;
  display: grid;
  justify-items: center;
  align-content: end;
}

.text-description > * {
  color: white;
}

.text-description h2 {
  font-size: 80px;
}

.text-description p {
  font-size: 40px;
}

.text-description p span {
  display: inline-block;
}

/*TIMER*/
.timer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 5px;
  margin: 20px 0;
}

.timer-component {
  background: yellow;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer-text {
  display: grid;
  justify-items: center;
}

.remaining-time {
  font-size: 80px;
}

.format {
  font-size: 20px;
}

/*TIMER FINISHED*/
.timer-description {
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer-description {
  color: white;
}

.active {
  visibility: visible;
  background-color: red;
  z-index: 3;
  text-align: center;
  margin-top: 10px;
}

/*NEED TO WORK ON MEDIA QUERY*/

/*EXPERIMENT*/
