* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*CONTAINER*/
.container {
  background-color: rgb(6, 19, 48);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    '. . . .'
    '. main main main .'
    '. main main main .'
    '. . . .';
  align-content: center;
  justify-content: center;
}

.main-section {
  height: 600px;
  width: 80vw;
  max-width: 800px;
  grid-area: main;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    'text-description'
    'text-description'
    'timer'
    'timer'
    'timer-description';
  border: 1px solid white;
}

/*TEXT*/
.text-description {
  grid-area: text-description;
  display: grid;
  justify-items: center;
  align-content: end;
  border: 1px solid red;
}

.text-description > * {
  color: white;
}

.text-description h2 {
  font-size: 80px;
  text-align: center;
}

.text-description p {
  font-size: 40px;
  text-align: center;
}

.text-description p span {
  display: inline-block;
}

/*TIMER*/
.timer {
  grid-area: timer;
  border: 1px solid red;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
  margin: 20px 0;
}

.timer-component {
  background: yellow;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer-text {
  display: grid;
  justify-items: center;
}

.remaining-time {
  font-size: 80px;
}

.format {
  font-size: 20px;
}

/*TIMER FINISHED*/
.timer-description {
  grid-area: timer-description;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 1px solid red;
}

.timer-description {
  color: white;
}

.active {
  visibility: visible;
  background-color: red;
  z-index: 3;
  text-align: center;
  margin-top: 10px;
}

/*NEED TO WORK ON MEDIA QUERY*/
@media screen and (max-width: 960px) {
  .text-description h2 {
    font-size: 50px;
  }

  .text-description p {
    font-size: 25px;
  }

  .timer {
    padding: 0 30px;
  }

  .timer-component {
    height: 150px;
  }

  .remaining-time {
    font-size: 40px;
  }

  .format {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .text-description h2 {
    font-size: 45px;
  }

  .text-description p {
    font-size: 25px;
  }

  .timer-component {
    height: 120px;
  }

  .remaining-time {
    font-size: 40px;
  }

  .format {
    font-size: 20px;
  }
}
