* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(6, 19, 48);
}

/*CONTAINER*/

.container {
  background-color: rgb(6, 19, 48);
  height: 100vh;
  max-width: 100vw;
  display: grid;
  /*grid-template-areas:
    '. . . '
    '. main main main main .'
    '. main  main main main .'
    '. . . .';*/
  align-content: center;
  justify-content: center;
  /*margin: 0 20px;*/
}

/*
.main-section {
  grid-area: main;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  padding: 0 30px;
}*/

/*TEXT*/
.text-description {
  /*width: 100%;*/
  max-width: inherit;
  padding: 0 20px;
  grid-area: 1/1;
  display: grid;
  justify-items: center;
  align-content: end;
}

.text-description > * {
  color: white;
  text-align: center;
}

.text-description h2 {
  font-size: 80px;
}

.text-description p {
  font-size: 40px;
}

.text-description p span {
  display: inline-block;
}

/*TIMER*/
.timer {
  /*width: 100%;*/
  max-width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  /*grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));*/
  grid-auto-rows: 1fr;
  grid-gap: 5px;
  /*margin: 50px 0;*/
  background: aqua;
  padding: 5px 10px;
}

.timer::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.timer-component:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.timer-component {
  background: yellow;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-content: center;
}

.timer-text {
  display: grid;
  justify-items: center;
}

.remaining-time {
  font-size: 80px;
}

.format {
  font-size: 20px;
}

/*TIMER FINISHED*/
.timer-description {
  display: grid;
  justify-content: center;
  align-content: center;
  max-width: inherit;
  color: white;
}

.active {
  visibility: visible;
  background-color: red;
  z-index: 3;
  text-align: center;
  margin-top: 10px;
}

/*NEED TO WORK ON MEDIA QUERY*/

/*EXPERIMENT*/
/*EXPERIMENT*/
/*EXPERIMENT*/
