* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(6, 19, 48);
  height: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
}

.main-container {
  padding: 200px 0;
}

.text-description {
  color: white;
  padding-bottom: 100px;
  text-align: center;
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 2rem;
}

.timer {
  display: flex;
  justify-content: space-evenly;
}

.timer-components {
  background-color: rgb(245, 230, 20);
  height: 200px;
  width: 200px;
}

.timer-text {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.remaining-time {
  font-size: 5rem;
}

.format {
  font-size: 2rem;
}

.timer-finished {
  background-color: red;
  z-index: 3;
  text-align: center;
  margin-top: 10px;
  visibility: hidden;
}

.active {
  visibility: visible;
}
